@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: #4c5844;
  border-style: solid;
  border-width: 2px;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #282e22;
  border-bottom-color: #282e22;
}

::-webkit-scrollbar-track {
  background-color: #5a6a50;
}
::-webkit-scrollbar-button {
  height: 20px;
  background-color: #4c5844;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #282e22;
  border-bottom-color: #282e22;
  border-width: 2px;
}

::-webkit-scrollbar-button:hover {
  background-color: #4c5844;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("../public/scrollbar/increment.svg");
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url("../public/scrollbar/decrement.svg");
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:hover {
  background-color: #999999;
  border-style: solid;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-in-out;
}
